* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

@keyframes FadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.fadeIn {
  animation-name: FadeIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

:root {
  font-size: 1vw;
}

html,
body {
  background-color: #0d0d2b;
  font-size: 1vw;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vw;
  background-color: #0d0d2b;
}

.logo {
  cursor: pointer;
  width: 40%;
}

.logo-link {
  margin-right: auto;
}

nav {
  float: right;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li {
  margin: 0 1.5em 0 0;
}

.nav-links li a {
  text-decoration: none;
  background-color: none;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: rgb(176, 176, 212);
}

.nav-button {
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 9px 25px;
  background-color: rgba(86, 86, 107, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-button:hover {
  background-color: rgba(86, 86, 107, 0.8);
  color: white;
}

/* The dropdown container */
.dropdown-container {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown-container {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141431;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 15px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown-container:hover .dropdown-content {
  display: block;
}

section {
  background: #0d0d2b;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;

  position: relative;
  /* overflow:hidden; */
  margin-bottom: 5vh;
}

.page1-content {
  position: relative;
  height: 84.5vh;
  display: flex;
  align-items: center;
}

.fas.fa-angle-double-down {
  font-size: 2.5em; 

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.fa.fa-caret-down {
  margin-left: 0.5em;
}

.logo-link {
  margin-right: auto;
}

.intro {
  width: 50%;
  padding: 0 0 0 5vw;
}

.intro h1 {
  /* width: 120%; */
  font-size: 3.35rem;
  color: white;
}

.intro p {
  padding-top: 1em;
  font-size: 1.5rem;
  color: #7c81cc;
}

.intro .btn-container {
  width: 80%;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.intro button {
  /* background-color: #dcbb0b; */
  border-radius: 5px;
  font-size: 1.5rem;
  color: black;
  width: 45%;
  height: 2em;
  border-radius: 50px;
  position: relative;
  transition: ease-out 0.35s;
}

.intro .intro-left-button {
  border: 1px solid #ffe162;
  background-color: transparent;
  color: #ffe162;
}

.intro .intro-right-button {
  border: none;
  background-color: #ffe162;
  color: black;
}

.intro button span {
  position: relative;
  z-index: 2;
}

/* .intro button:after {
  border-radius: inherit;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e9c912;
  transition: all 0.35s;
} */

.intro button:hover {
  background-color: #b9c4fc;
  transition-duration: 0.35s;
  transition-timing-function: ease-in;
  border: none;
  color: black;
}

.main-img {
  height: 100%;
  width: 50%;
}

.scroll-container {
  padding: 0;
  text-decoration: none;
  background: 0 0;
  border: 0;
  outline: 0;
  position: absolute;
  grid-column: 2/8;
  margin-top: 75vh;
}

.scroll-label {
  margin-bottom: 1.625rem;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  color: white;
  transition: opacity 1s;
}

.scroll-indicator {
  width: 0.1875rem;
  height: 5rem;
  background-color: #7e8ccf;
  transform-origin: center center;
  transform: translate(0px, 0px);
  transition: height 1s;
}

.container {
  margin-bottom: 20vh;
}

.container h5 {
  font-size: 20px;
}

.container p {
  font-size: 15px;
}

.center-helper {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.center-helper h1 {
  font-size: 2.5rem;
  background-image: linear-gradient(30deg, #ffffff, #2fb2d6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* .card {
  background: #eaeafd;
  border: 0;
  margin: 5%;
}

.card-body {
  text-align: center;
}


.form-button {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 9px 25px;
  background-color: rgb(35, 96, 167);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.form-button:hover {
  background-color: rgba(35, 96, 167, 0.8);
  color: white;
}

.social-icon {
  display: inline-block;
}

#email-input {
  border-radius: 5px;
  border-width: 0.2em;
  border-style: solid;
  border-color: #1e88e5;
  transition: all 0.8s ease;
}

#email-input:focus {
  outline: none;
  border-color: #ffb703;
} */

.card-columns {
  text-align: center;
}

.card-deck.get-involved {
  margin: 0;
  width: 100vw;
  text-align: center;
}

.get-involved .card {
  margin: 0;
  background-color: transparent;
  height: 420px;
  color: white;
  text-align: center;
}

.get-involved .card-body > h2 {
  font-size: 25px;
}

.get-involved .card img {
  width: 50%;
  max-width: 200px;
  height: auto;
  margin: 6% auto 0 auto;
}

.card-body .links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto 0 auto;
}

.links-container > a {
  display: inline-block;
  margin: 0 0.5em;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: rgb(35, 96, 167);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.social-icon {
  display: block;
  text-align: center;

  height: 50px;
  background-color: transparent;
}

.social-icon > img {
  margin: 0;
  padding: 0;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.social-icon > img:hover {
  opacity: .5;
  transition: .3s ease-in-out;
}

.email-input-field {
  position: relative;
  margin: 5% auto;
  width: 250px;
  height: 44px;
  line-height: 44px;
  z-index: 1;
}

.email-input-field > input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0 5px;
  font-size: 20px;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
  background-color: transparent;
}

.email-input-field > label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  z-index: -1;
}

input:invalid {
  outline: 0;
}

.email-input-field > input:focus, .email-input-field > input:valid {
  border-color: #00dd22;
}

.email-input-field > input:focus~label, .email-input-field > input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
}



.footer-image {
  margin-top: 8vh;
  margin-left: 3vw;
}

.footer {
  height: 2vh;
}

/* Media Queries */

@media (max-width: 990px) {
  .card-group {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 100vw;
  }

  .card-deck.article {
    display: grid;
    grid-template-columns: 600px;
    max-width: 600px;
  }
}
